<a class="badge badge-pipeline" title="Pipeline">
    {{pipelineId}}
</a>
<a class="badge badge-variation" title="Variation">
    Var {{variation}}
</a>
<span class="badge badge-depth" title="Depth">
    Depth {{depth}}
</span>